<%= form_for @property do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :物件名 %>
    <%= form.text_field :property_name %>
  </div>

  <div class="field">
    <%= form.label :賃料 %>
    <%= form.number_field :rent %>円
  </div>

  <div class="field">
    <%= form.label :住所 %>
    <%= form.text_field :adress %>
  </div>

  <div class="field">
    <%= form.label :築年数 %>
    <%= form.number_field :building_age %>年
  </div>

  <div class="field" id="note">
    <%= form.label :備考 %>
    <%= form.text_area :note %>
  </div>

  <p>最寄り駅登録数<%= @property.closest_stations.count %></p>

  <% station_number = 1 %>
  <%= form.fields_for :closest_stations  do |closest_stations| %>

    <h3>最寄り駅<%= station_number %></h3>

    <% station_number = station_number + 1 %>

    <div class="field">
      <%= closest_stations.label :route_name, '路線名' %>
      <%= closest_stations.text_field :route_name %>
    </div>

    <div class="field">
      <%= closest_stations.label :station_name, '駅名' %>
      <%= closest_stations.text_field :station_name %>
    </div>

    <div class="field">
      <%= closest_stations.label :time, '徒歩分数' %>
      <%= closest_stations.text_field :minites_walk %>分
    </div>

  <% end %>


  <div class="actions">
    <%= form.submit button_text%>
  </div>
<% end %>
